.myBG {
  background: url("../assets/img/Bg/main.jpg");
  background-size: cover;
}

.title {
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 3px;
}

.trending {
  height: auto;
  background: url("../assets/img/Bg/trending.jpg");
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
